body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgba(0, 0, 0, .7);
}

@media screen and (min-width: 800px) {
    body {
        margin: auto;
        width: 1000px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    form fieldset>* {
        width: 60%;
        margin: 0px;
        padding: 7px 0px;
    }
}

@media screen and (max-width: 799px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px auto;
        width: 100%;
    }
    form fieldset>* {
        width: 100%;
        margin: 0px;
        padding: 7px 0px;
    }
}

section {
    grid-column: auto;
    margin: 5px;
}

form fieldset {
    display: grid;
    grid-template-rows: 1fr;
    border: none;
}

table {
    width: 100%;
    margin: 10px;
}

table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .2  );
}
thead td {
    border-bottom: 1px solid black  ;
  }

td {
    padding: 8px;
}